:root {
    --yellow: #fffb00;
    --black: #000000;
    --orange: rgb(255, 187, 0);
    --purple: rgb(204, 0, 227);
    --blue: rgb(13, 0, 255);
    --pink: rgb(255, 155, 155);
    --green: rgb(0, 211, 0);
    --red: rgb(255, 0, 0);
  }