@import "keyframe.css"; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow: hidden;
    cursor: none;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* CURSOR STYLE & ANIMATION */
.cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  @keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  
  .cursor:before{
    content: '';
    position: absolute;
    background: #2696E8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }



#first_background {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -3;
}

.container h2 {
    margin: 0 0 0 0;
    font-size: 60px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    position: relative;
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.container section {
    height: 100vh;
    color: #222;
    display: flex;
    align-items: center;
    scroll-snap-align: center;
}

.container section .content {
    max-width: 800px;
    margin: 0 auto;
}

.container section:nth-of-type(2n) {
    color: #fff;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* FIRST PAGE */
#soldier1 {
    width: 18%;
    left: 65%;
    top: 40%;
    position: absolute;
    z-index: -1;
    animation: fadeInUp_soldier 1s ease-in-out 0s forwards, floaty_soldier 1.8s infinite alternate;
}

#soldier2 {
    width: 20%;
    left: 78%;
    top: 35%;
    position: absolute;
    z-index: -1;
    animation: fadeInUp_soldier 1s ease-in-out 0s forwards, floaty_soldier 1.8s infinite alternate;
    opacity: 0; 
    animation-delay: 0.5s;
}

#waves {
    width: 100%;
    /* left: 30%; */
    top: 80%;
    position: absolute;
    z-index: -2;
}

#boat1 {
    width: 20%;
    right: 65%;
    top: 36%;
    position: absolute;
    z-index: -3;
    animation: floaty_boat 1.8s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 0.8s;
}

#boat2 {
    transform: scaleX(-1);
    width: 28%;
    right: 75%;
    top: 18%;
    position: absolute;
    z-index: -3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

.first-paragraph{
    line-height: 2;
    text-align: center;
    color: #5B0400;
    font-weight: 600;
    padding-bottom: 196px;
    font-size: 20px;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* SECOND PAGE */

#second_background {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#japan1 {
    width: 22%;
    left: 56%;
    top: 119.5%;
    position: absolute;
    z-index: 3;
    animation: floaty_soldier 1.8s infinite alternate;
}

#japan2 {
    width: 30%;
    left: 70%;
    top: 132.5%;
    position: absolute;
    z-index: 2;
}

.second-paragraph {
    line-height: 2;
    text-align:start;
    color: #5B0400;
    font-weight: 600;
    font-size: 20px;
    left: 10%;
    top: 130%;
    position: absolute;
    z-index: 2;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* THIRD PAGE */
#third_background {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#ground_pantai {
    width: 100%;
    top: 256%;
    position: absolute;
    z-index: 1;
}

#laut {
    width: 100%;
    top: 228%;
    position: absolute;
    z-index: 1;
}

#pohon_kelapa1 {
    width: 20%;
    top: 215%;
    left: 80%;
    position: absolute;
    z-index: 2;
}

#pohon_kelapa2 {
    width: 20%;
    top: 220%;
    left: 2%;
    position: absolute;
    z-index: 2;
}

#pohon_kelapa3 {
    width: 15%;
    top: 225%;
    left: 60%;
    position: absolute;
    z-index: 2;
}

#pohon_kelapa4 {
    width: 15%;
    top: 230%;
    left: 20%;
    position: absolute;
    z-index: 2;
}

#matahari {
    width: 20%;
    top: 220%;
    left: 40%;
    position: absolute;
    z-index: -1;
}

#awan_kanan {
    width: 50%;
    top: 220%;
    left: 80%;
    position: absolute;
    z-index: 1;
}

#awan_kiri {
    width: 50%;
    top: 220%;
    left: 1%;
    position: absolute;
    z-index: 1;
}

#kabut {
    width: 30%;
    top: 220%;
    left: 30%;
    position: absolute;
    z-index: 2;
}

#ciletuh_menjadi_geopark {
    width: 40%;
    top: 225%;
    left: 55%;
    position: absolute;
    z-index: 3;
}

#orang1 {
    width: 15%;
    top: 245%;
    left: 80%;
    position: absolute;
    z-index: 4;
    animation: floaty_soldier 1.7s infinite alternate;
}

#orang2 {
    width: 11%;
    top: 245%;
    left: 52%;
    position: absolute;
    z-index: 4;
    animation: floaty_soldier 2s infinite alternate;
}

.third-paragraph {
    line-height: 2;
    text-align:start;
    color: white;
    text-shadow: 3px 3px 3px #000000;;
    font-weight: 400;
    font-size: 20px;
    left: 10%;
    top: 225%;
    position: absolute;
    z-index: 3;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* FOURTH PAGE */

#rumput {
    width: 100%;
    top: 360%;
    position: absolute;
    z-index: -1;
}

#gunung {
    width: 100%;
    top: 335%;
    position: absolute;
    z-index: -1;
}

#kuda1 {
    width: 30%;
    top: 330%;
    left: 1%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

#kuda2 {
    width: 35%;
    top: 332%;
    left: 30%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

#kuda3 {
    width: 30%;
    top: 330%;
    right: 3%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.8s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

.fourth-paragraph {
    line-height: 2;
    text-align:center;
    color: #5B0400;
    font-weight: 600;
    font-size: 20px;
    left: 10%;
    top: 315%;
    position: absolute;
    z-index: 3;
}


/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* FIFTH PAGE */

#background5 {
    width: 100%;
    top: 400%;
    position: absolute;
    z-index: -1;
}

.fifth-paragraph {
    line-height: 2;
    text-align: center;
    /* color: #5B0400; */
    font-weight: 600;
    font-size: 20px;
    /* left: 10%;
    top: 415%;
    position: absolute; */
    z-index: 3;
}

#bird1 {
    width: 2%;
    top: 420%;
    left: 15%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

#bird2 {
    width: 3%;
    top: 414%;
    left: 83%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

#bird3 {
    width: 3%;
    top: 420%;
    left: 80%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* SIXTH PAGE */

#blackground {
    width: 100%;
    top: 500%;
    position: absolute;
    z-index: -1;
}

.sixth-paragraph {
    line-height: 2;
    text-align: start;
    /* color: #5B0400; */
    font-weight: 400;
    font-size: 20px;
    left: 10%;
    top: 530%;
    position: absolute;
    z-index: 3;
}

#hewans1 {
    width: 35%;
    top: 500%;
    left: 65%;
    position: absolute;
    z-index: 3;
    /* animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s; */
}

#scroll {
    width: 5%;
    top: 570%;
    left: 9%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}

/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* SEVENTH PAGE */

#blackground2 {
    width: 100%;
    top: 600%;
    position: absolute;
    z-index: -1;
}

.seventh-paragraph {
    line-height: 2;
    text-align: start;
    color: #ffff;
    font-weight: 400;
    font-size: 20px;
    left: 45%;
    right: 5%;
    top: 620%;
    position: absolute;
    z-index: 3;
}

#hewans2 {
    width: 48%;
    top: 590%;
    right: 55%;
    position: absolute;
    z-index: 3;
    /* animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s; */
}

#kumpulan-burung {
    width: 30%;
    top: 585%;
    right: 10%;
    position: absolute;
    z-index: 3;
    /* animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s; */
}

#scroll2 {
    width: 5%;
    top: 675%;
    right: 6%;
    position: absolute;
    z-index: 3;
    animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s;
}


/*---------------------------------------------------------------- */
/*---------------------------------------------------------------- */
/* EIGHTH PAGE */

#blackground3 {
    width: 100%;
    top: 700%;
    position: absolute;
    z-index: -1;
}

.eighth-paragraph {
    line-height: 2;
    text-align: center;
    color: #ffff;
    font-weight: 400;
    font-size: 18px;
    /* left: 45%; */
    right: 12%;
    top: 715%;
    position: absolute;
    z-index: 3;
}

#hewans3 {
    width: 100%;
    top: 635%;
    position: absolute;
    z-index: 3;
    /* animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s; */
}

#kumpulan-burung2 {
    width: 20%;
    top: 698%;
    right: 3%;
    position: absolute;
    z-index: 2;
    /* animation: floaty_boat 2.4s infinite alternate, fadeInUp_boat 1s ease-in-out 0s;
    transform: translateY(600px);
    transition: 1.8s; */
}