/*===== GOGGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*===== VARIABLES SCSS =====*/
/*===== VARIABLES CSS =====*/
/*=== Colores ===*/
:root {
  --first-color: #0396A6;
  --dark-color: #000;
  --white-color: #F2F2F2;
}

/*=== Fuente y tipografia ===*/
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.8rem;
  --normal-font-size: 0.938rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

/*===== SECTION =====*/
.section {
    padding: 0px 150px;
    color: var(--white-color);
}

.section__data {
    margin-bottom: 3rem;
}

.section__title {
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin-bottom: 1rem;
}

.section__text {
    color: var(--dark-color);
    margin-bottom: -1rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
}

.section__img {
    width: 400px;
    border-radius: .5rem;
}

.s1 .section__title, .s1 .section__text, .s3 .section__title, .s3 .section__text {
    color: var(--white-color);
}