.headline {
    background-color: #E9ECEF;
    padding: 10px 16px 30px 30px;
    margin: 50px 174px 64px 174px;
    border-radius: 10px;
}

.headline-items {
    font-family: "poppins", sans-serif;
}

.title {
    font-weight: 500;
    font-size: 26px;
}

.description {
    font-size: 16px;
    color: #778298;
}

.button {
    background-color: #FFFF; /* Green */
    border: none;
    border-radius: 4px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(56, 64, 79, 0.3) 0px 0px 1px 0px, rgba(9, 24, 54, 0.24) 0px 1px 1px 0px, rgba(9, 24, 54, 0.06) 0px 2px 5px 0px;
}

.button:hover,
.button:focus {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

  